.container {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.header {
  font-family: "Inconsolata";
  font-weight: bold;
  color: #333333;
  position: absolute;
  top: -5%;
  font-size: 30px;
  line-height: 25px;
  letter-spacing: -0.08em;
  height: 25px;
  text-transform: uppercase;
}

.scarecrow {
  max-width: 539.22px;
}

.title {
  width: 500px;
  height: 190px;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -0.035em;
  margin-bottom: -20px;
  margin-top: 0;

  color: #333333;
}

.col-2 {
  margin-left: 5vw;
  width: 100%;
}

.description {
  width: 280px;
  height: 108px;
  margin-top: 0;

  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.035em;

  color: #4f4f4f;
}

.btn {
  width: 200px;
  height: 60px;
  margin-top: 30px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;

  letter-spacing: -0.035em;
  text-transform: uppercase;

  background-color: #333333;
  color: #ffffff;
}

#signature {
  position: absolute;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  grid-row-start: 2;
  grid-row-end: 3;
  align-self: end;
}

/* For Mobile Viewing */
@media screen and (max-width: 1000px) {
  .container {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
  }

  .col-1,
  .col-2 {
    margin: 0 auto;
  }

  .col-2 {
    width: 500px;
  }

  .header {
    top: -5%;
  }

  .title {
    margin: 0 auto;
  }

  .description {
    line-height: 25px;
    margin-top: -2%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .btn {
    margin-top: 0;
  }

  #signature {
    position: relative;
    margin: 15% auto 0 auto;
  }
}
